.former__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    padding: 0.75rem 0;
    z-index: 1;
}

.former__navbar-links {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1186px;
    margin: 0 auto;
    padding-left: 40px;
    padding-right: 40px;
}

.former__logo-letter {
    font-weight: var(--font-weight-black);
    font-size: 2.5rem;
    letter-spacing: -2px;
}

.former__navbar-links_logo > svg {
    margin-left: 2px;
}

.former__navbar-links_logo {
    display: flex;
    overflow: hidden;
}

.former__navbar-links_container {
    display: flex;
    flex-direction: row;
}

.former__navbar-links_container p,
.former__navbar-sign p,
.former__navbar-menu_container p {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    text-transform: capitalize;

    margin: 0 1rem;
    cursor: pointer;
}

.former__logo {
    letter-spacing: -3px;
    font-size: 2.5rem;
    transform: scale(1);
}

.former__asterisk {
    display: flex;
    padding-top: 8px;
}

.former__navbar-menu {
    margin-left: 1rem;
    padding-top: 3px;
    position: relative;
}

.former__navbar-menu svg {
    cursor: pointer;
}

.former__navbar-menu_overlay {
    width: 1186px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    margin: 120px 0 0;
}

.former__navbar-menu-overlay-top {
    max-width: 1186px;
    margin: 0 auto;
}

.former__navbar-menu_overlay-close-icon {
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
}

.former__navbar-menu_container {
    background: var(--color-former-white);
    padding: 2rem;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1;
    left: 0;
    top: 0;
    overflow-x: hidden;
    transition: 0.5s;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    z-index: 10;
}

.former__navbar-links_p {
    display: flex;
    flex-direction: row;
}

.former__navbar-links_p > p > a {
    text-transform: uppercase;
}

.former__navbar-menu_container p {
    margin: 1.5rem 0;
}

@media screen and (max-width: 768px) {
    .former__navbar-links {
        padding-left: 17px;
        padding-right: 17px;
    }

    .former__navbar-menu_container p {
        margin: 1.5rem 0;
    }
}

@media screen and (max-width: 480px) {
    .former__navbar {
        padding-left: 0;
    }

    .former__navbar-menu_container {
        overflow: hidden;
    }

    .former__navbar-menu_overlay {
        width: 100%;
        margin: 80px 0 0;
    }

    .former__navbar-links {
        padding-left: 16px;
        padding-right: 16px;
    }
    .former__navbar-menu_overlay-close-icon {
        padding-right: 0;
    }

    .former__navbar-links_p {
        display: none;
    }

    .former__navbar-menu_container p {
        margin: 0;
    }
}

/* Animation - Keyframes */

@keyframes slideOut {
    from {
        transform: translateX(0%);
        margin-top: 0;
    }

    to {
        transform: translateX(-202px);
        margin-top: 8px;
    }
}

@keyframes slideOutF {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(-30px);
    }
}

@keyframes slideOutO {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(-60px);
    }
}

@keyframes slideOutR {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(-90px);
    }
}

@keyframes slideOutM {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(-120px);
    }
}

@keyframes slideOutE {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(-150px);
    }
}

@keyframes slideOutRr {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(-180px);
    }
}

@keyframes slideOutStar {
    from {
        transform: translateX(0%);
        margin-top: -7px;
    }

    to {
        transform: translateX(-160px);
        margin-top: 0;
    }
}

@keyframes slideInF {
    from {
        transform: translateX(-202px);
    }

    to {
        transform: translateX(0%);
    }
}

@keyframes slideInO {
    from {
        transform: translateX(-202px);
    }

    to {
        transform: translateX(0%);
    }
}

@keyframes slideInR {
    from {
        transform: translateX(-202px);
    }

    to {
        transform: translateX(0%);
    }
}

@keyframes slideInM {
    from {
        transform: translateX(-202px);
    }

    to {
        transform: translateX(0%);
    }
}

@keyframes slideInE {
    from {
        transform: translateX(-202px);
    }

    to {
        transform: translateX(0%);
    }
}

@keyframes slideInRr {
    from {
        transform: translateX(-202px);
    }

    to {
        transform: translateX(0%);
    }
}

@keyframes slideInStar {
    from {
        transform: translateX(-202px);
        margin-top: 0;
    }

    to {
        transform: translateX(0%);
        margin-top: -7px;
    }
}

/* Utility classes */

.slideOut-f {
    animation: slideOutF 1s ease;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.slideOut-o {
    animation: slideOutO 1s ease;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.slideOut-r {
    animation: slideOutR 1s ease;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.slideOut-m {
    animation: slideOutM 1s ease;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.slideOut-e {
    animation: slideOutE 1s ease;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.slideOut-rr {
    animation: slideOutRr 1s ease;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.slideOut-star {
    animation: slideOutStar 1s ease;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    margin-top: 0;
}

.slideIn-f {
    animation: slideInF 0.3s ease;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.slideIn-o {
    animation: slideInO 0.3s ease;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.slideIn-r {
    animation: slideInR 0.3s ease;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.slideIn-m {
    animation: slideInM 0.3s ease;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.slideIn-e {
    animation: slideInE 0.3s ease;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.slideIn-rr {
    animation: slideInRr 0.3s ease;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.slideIn-star {
    animation: slideInStar 0.3s ease;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    margin-top: -7px;
    margin-left: 2px;
}
